/* RESETOWANIE */
* {
    margin: 0;
    padding: 0;   
}

nav {
    /* pozycja statyczna */
    position: fixed; 
    /* czarne tlo */
    background-color: black;
    /* bialy kolor tekstu */
    color: white;

    left: 0;
    right: 0;
    top: 0;
}

nav > ul {
    list-style: none;
    float: right;
}

nav > ul > li {
    float: left;
    padding: 10px;
}

nav > ul > li > a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    background-color: blue;
}